<div class="row">
  <div style="width: 100%">
    <div class="content landing">
      <div class="span7" style="margin-left: 0px; margin-right: 0px; padding-right:0px;">
        {{ content }}
      </div>
      <div class="span4 divbox" style="float: right; margin-left: 0px; margin-right: 0px; margin-top: 80px;padding-right:10px; color:#F7F7F9;">
      <!--{% include custom/qq %}-->
      <h1 id="start-now" style="margin-left: 0px; font-size: 22px;">欢迎来到玉怜其华的博客！</h1>
      {% include custom/searchbox %} 
      <div style="float: right; margin-left: 0px; margin-right: 0px;">
      {% include custom/weibo %}
      </div>
      <div>
        <ul class="nav nav-pills">
          <li><a href="archive.html">文章存档</a></li>
          <li><a href="categories.html">博文分类</a></li>
          <li><a href="tags.html">我的标签</a></li>
        </ul>
        
<!--
	<button  class="btn-primary" href="archive.html" type="button">文章存档</button >
	<button  class="btn-primary" href="categories.html" type="button">博文分类</button >
	<button  class="btn-primary" href="tags.html" type="button">我的标签</button >
      </div>
-->
	  {% include custom/friend %}

      </div>     
    </div>  
  </div>
</div>
